* {
	margin: 0;
	padding: 0;
	font-family: 'Huninn', sans-serif;
}
button {
	font-size: 18px;
}
.container {
	max-width: 500px;
	margin: 0 auto;
}
.block-1 {
	display: flex;
	padding: 100px;
}
.calculator-block {
	width: 200px;
	padding: 15px 10px 15px 20px;
	background-color: #FFFFFF;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.calculator-display {
	margin-bottom: 20px;
	padding: 10px 15px;
	text-align: right;
	border: none;
	font-size: 20px;
	width: 160px;
	background: none;
}
.calculator-display-show {
	padding: 10px 15px;
	text-align: right;
	border: none;
	background: none;
}
.btn-groups button {
	padding: 10px 15px;
	margin: 2px;
	width: 40px;
	background-color: #FFF8DC;
	border: none;
}
.btn-groups button:hover {
	background-color: #F4A460;
}
.btn-groups .btn-func {
	background-color: #FFDEAD;
}
.btn-groups .equal {
	background-color: #D2691E;
}
.btn-theme button {
	background: white;
	border: none;
	padding: 10px;
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.btn-theme img {
	width: 25px;
}