@import url("fonts.css");

* {
	margin: 0;
	padding: 0;
}
button {
	font-family: 'Swanston', sans-serif;
}
.calculator-block {
	width: 200px;
	margin: 10% auto;
	border: 1px solid black;
	padding: 15px 10px;
	background-color: #FFFFFF;
}
.calculator-display {
	margin-bottom: 20px;
	padding: 10px 15px;
	text-align: right;
}
.btn-groups button {
	padding: 10px 15px;
	margin: 2px;
	width: 40px;
	background-color: #FFF8DC;
	border: none;
}
.btn-groups button:hover {
	background-color: #F4A460;
}
.btn-groups .btn-func {
	background-color: #FFDEAD;
}
.btn-groups .equal {
	background-color: #D2691E;
}